---
layout: page
title: Welcome to my personal blog
tagline: Supporting tagline
---
{% include JB/setup %}

## Welcome!

This is Sheehan's personal blog. 

<div id="pagination">
<div class="pagenavi">
<span class="page_number">{{paginator.page}}/total{{paginator.total_pages}}</span>
<a href="/">First Page</a>
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<a href="/" class="current"><<Previous Page</a>
{% else %}
<a href="/page{{paginator.previous_page}}"><<Previous Page</a>
{% endif %}
{% else %}
<span><<Previous Page</span>
{% endif %}
{% for count in (2..paginator.total_pages) limit:8 %}
{% if count == paginator.page %}
<span class="current-page">{{count}}</span>
{% else %}
<a href="/page{{count}}">{{count}}</a>
{% endif %}
{% endfor %}

{% if paginator.next_page %}
<a href="/page{{paginator.next_page}}">Next Page>></a>
{% else %}
<span>Next Page>></span>
{% endif %}
<a href="/page{{paginator.total_pages}}">Last Page</a>
</div>
</div>
